version: '3.8'
services:
  api:
    build: .
    volumes:
      - ./:/app:cached
    ports:
      - '8000:8000'
    environment:
      - PYTHONUNBUFFERED=1
    command: uvicorn api.app:app --host 0.0.0.0 --port 8000